@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.left-links {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.right-links {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 0px;
  list-style-type: none;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

a {
  color: rgb(92, 85, 60); 
  text-decoration: none;
  }

  .footer {
    background-color: #eeeeee;
  }